{% extends "basic_app/base.html" %}
{% load static %}

{% block body_block %}
  <div class="container">
    <div class="jumbotron">

      <h1 class="heading">Athlete Details</h1>
      <p><b>Name : </b>{{ athlete_detail.user.username}}</p>
      <p><b>Country : </b>{{ athlete_detail.country}}</p>
      <p><b>Sport : </b>{{ athlete_detail.sport}}</p>
      {% if athlete_detail.profile_pic %}
        <p><b>Profile_pic : </b><img src="{{ athlete_detail.profile_pic.url}}"  alt="No profile_pic"> </p>
      {% endif %}
      <div>
        <br>


    </div>

  </div>
</div>

{% endblock %}
