{% extends 'basic_app/base.html' %}
{% block body_block %}
{% if s %}
<h1 style="margin-top: 2rem"></h1>
<table style="border: 2px solid gray; margin-top: 2rem; margin-bottom: 2rem; width: 40%; margin: auto">
    <tr style="border: 1px solid gray;">
        <th style="border: 1px solid gray; background-color: gray"><b>Name</b></th>
        <th style="border: 1px solid gray; background-color: gray"><b>Country</b></th>
        <th style="border: 1px solid gray; background-color: gray"><b>Sport</b></th>
      </tr>
{% for i  in athlete %}
<tr>
<td style="border: 1px solid gray;"><p>  <a href="{% url 'basic_app:detail' i.id %}">{{i}}</a></p></td>
<td style="border: 1px solid gray;"><p>  {{i.country}}</p></td>
<!-- <p>  <a href="{% url 'basic_app:detail' i.id %}">{{i.sport}}</a></p> -->
<td style="border: 1px solid gray;"><form method="post"action="{% url 'basic_app:sport' %}">
  {% csrf_token %}
  
<input class="op" style="background: none; color: white;" type="hidden" value = "{{ i.sport}}" name="sport">

<input style="background: none; color: white;" type="submit" value="{{ i.sport}}">


</form>
</td>
</tr>
{% endfor %}
</table>
<h1 style="margin-bottom: 2rem"></h1>
{% else %}
<p>please enter something valid to search</p>
{% endif %}
{% endblock %}