{% extends 'basic_app/base.html' %}
{% block body_block %}
{% load socialaccount %}
{% providers_media_js %}
  <div class="jumbotron">
    <div class="form-container">
      <form class="form-form" action="{% url 'basic_app:user_login' %}" method="post">
          {% csrf_token %}
          <div class="username-container">
            <label for="username">Username:</label>
            <input type = 'text' placeholder="username" name = 'username'>
          </div>
          <div class="password-container">
            <label for="password">Password:</label>
            <input type="password" name="password" >
          </div>
          <div class="submit-container">
            <input type="submit" name="" value="Login">
          </div>
          <a href="{% provider_login_url "google" %}"> Google connect</a>
      </form>
    </div>
  </div>
{% endblock %}
