{% extends "basic_app/base.html" %}
{% load static %}

{% block body_block %}
  <div class="container">
    <div class="jumbotron">

      <p> Here are the list of Atheletes<p>
      <ol>
        {% for s in medals %}
          <h2><li>{{s.country}}</li></h2>
          <h2><li>{{s.gold_medal}}</li></h2>
          <h2><li>{{s.silver_medal}}</li></h2>
          <h2><li>{{s.bronze_medal}}</li></h2>
          <h2><li>{{s.total_medals}}</li></h2>
        {% endfor %}
      </ol>

    </div>

  </div>
{% endblock %}
