{% extends 'basic_app/base.html' %}
{% load static %}
{% block body_block %}
<div class="news_container">
    <div class="news_section">
        <h1 class="news_heading">India Stories</h1>
        <div class="india_images">
            <div class="india_section">
                <img src="">
                <p class="india_heading">Lorem ipsum.</p>
                <p class="india_subheading">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium esse possimus expedita veritatis rem, nisi vel saepe blanditiis? Ea dolore ipsum perspiciatis.</p>
            </div>

            <div class="india_section">
                <img src="">
                <p class="india_heading">Lorem ipsum.</p>
                <p class="india_subheading">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium esse possimus expedita veritatis rem, nisi vel saepe blanditiis? Ea dolore ipsum perspiciatis.</p>
            </div>

            <div class="india_section">
                <img src="">
                <p class="india_heading">Lorem ipsum.</p>
                <p class="india_subheading">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium esse possimus expedita veritatis rem, nisi vel saepe blanditiis? Ea dolore ipsum perspiciatis.</p>
            </div>
        </div>
    </div>


    <div class="news_section">
        <h1 class="news_heading">Top Stories around the world</h1>
        <div class="india_images">
            <div class="india_section">
                <img src="">
                <p class="india_heading">Lorem ipsum.</p>
                <p class="india_subheading">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium esse possimus expedita veritatis rem, nisi vel saepe blanditiis? Ea dolore ipsum perspiciatis.</p>
            </div>

            <div class="india_section">
                <img src="">
                <p class="india_heading">Lorem ipsum.</p>
                <p class="india_subheading">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium esse possimus expedita veritatis rem, nisi vel saepe blanditiis? Ea dolore ipsum perspiciatis.</p>
            </div>

            <div class="india_section">
                <img src="">
                <p class="india_heading">Lorem ipsum.</p>
                <p class="india_subheading">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium esse possimus expedita veritatis rem, nisi vel saepe blanditiis? Ea dolore ipsum perspiciatis.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}