{% extends "basic_app/base.html" %}
{% load static %}
{% block body_block %}
<video autoplay muted loop id="myVideo">
    <source src="{% static "videos/schedule.mp4" %}" type="video/mp4">
  </video>
<div class="container centering">
<h3 class="main-heading">Schedule</h3>
<p> Groups: <a style="color: gray" href="https://drive.google.com/file/d/1c_uCZ7ZhxfcmZvPGMsl5Zf6VGQkVNgUt/view?usp=sharing">groups</a></p>
<div class="mainstreammedia">
  <a href="https://drive.google.com/file/d/1c8wEhM8Ok2BcHTnffb4owksYlvEt11C_/view?usp=sharing"><img src="{% static "icons/cricket.jpg" %}" class="main-image"></a>
  <a href="https://drive.google.com/file/d/1c8wEhM8Ok2BcHTnffb4owksYlvEt11C_/view?usp=sharing"><img src="{% static "icons/football.jpg" %}" class="main-image"></a>
  <a href="https://drive.google.com/file/d/1c8wEhM8Ok2BcHTnffb4owksYlvEt11C_/view?usp=sharing"><img src="{% static "icons/hockey.jpg" %}" class="main-image"></a>
  <a href="https://drive.google.com/file/d/1c8wEhM8Ok2BcHTnffb4owksYlvEt11C_/view?usp=sharing"><img src="{% static "icons/badminton.jpg" %}" class="main-image"></a>
  <a href="https://drive.google.com/file/d/1c8wEhM8Ok2BcHTnffb4owksYlvEt11C_/view?usp=sharing"><img src="{% static "icons/volleyball.jpg" %}" class="main-image"></a>
</div>
</div>

{% endblock %}
